.grid-view {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
  padding: 6px;
  max-width: 960px;
  margin: 0 auto;
  align-content: start;
}

@media (max-width: 780px) {
  .grid-view {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .grid-view {
    grid-template-columns: 1fr;
  }
}
